<h1>Coe tropinha aaaaaaa</h1>

<p>O time do {{user.name}} é {{user.time}} e a seleção que ele torce é o {{user.selecao}} </p>
{{#if auth}}
<p>voce está autenticado porra. <a href="dashboard"> clica nessa porra</a></p>

{{/if}}

{{#if approved}}
<p>Coe corno ta aprovado em!!</p>

{{else}}
<p>tenta novamente ai corno </p>
{{/if}}


