<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <h1>Coe irmão está funcionando normal porra!!</h1>
    <form action="/users/save" method="POST"></form>
    <div>
        <input type="text" name="name" placeholder="Coloca o nome ai cria" />
    </div>
    <div>
        <input type="text" name="age" placeholder="Coloca a idade ai cria" />
    </div>
    <div>
        <input type="submit" value="Cadastrar" />
    </div>
</body>

</html>