<h1>Livros Cadastrados</h1>

<div class="books-container">
    <a href="/">Cadastrar Livro</a>
    {{#each books}}
    <div>
        #{{this.id}} - <span class="bold"><a href="/books/{{this.id}}"> {{this.title}}</a> </span></a> - {{this.pageqty}} páginas
    </div>
    {{/each}}
</div>
